body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.box11{
  padding: 0.5em 1em;
  margin: 4em 15;
  color: #5d627b;
  background: white;
  border-top: solid 7px #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .box11 p {
      margin: 0; 
      padding: 0;
  }

  
.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}

.card-img {
    text-align: center;
    border-radius: 5px 5px 0 0;
    max-width: 500;
    height: auto;
}
.card-text0 {
    text-align: center;
    color: rgb(2, 2, 2);
    font-size: 18px;
    line-height: 1.5;
  }
.card-text1 {
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}
.card-text2 {
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 18px;
    line-height: 1.5;
}
.card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
}
.card-content {
    text-align: center;
    padding: 20px;
}
.card {
    max-width: 50%;
    text-align: center;
    width: 500px;
    height: 700px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
}



h1 {
    text-align:center;
}
  
form {
    text-align:center;
}

section {
    text-align:center;
}


